<div class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand pull-right" href="" ng-click="model.updateUser()">
    <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
  </a>

  <div class="navbar-header">
    <a class="navbar-brand">Profile</a>
  </div>
</div>

<div class="container-fluid under-navbar">
  <div class="form-group">
    <label>Username</label>
    <input ng-model="model.user.username" class="form-control" type="text" placeholder="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input ng-model="model.user.password" class="form-control" type="password" placeholder="password">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input ng-model="model.user.firstName" class="form-control" type="text" placeholder="First Name">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input ng-model="model.user.lastName" class="form-control" type="text" placeholder="Last Name">
  </div>
  <div class="form-group">
    <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website/">
      Websites
    </a>
    <a class="btn btn-danger btn-block" href="#/">
      Logout
    </a>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-brand pull-right">
    <span class="glyphicon glyphicon-user glyphicon-white" aria-hidden="true"></span>
  </div>
</nav>