input.form-control {
  margin-bottom: 5px;
}

body {
  padding-top: 36px;
}

/* navbar */
.navbar-default {
  background-color: #428bca;
  border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
  color: #ffffff;
}

.under-navbar {
  padding-top: 30px;
  overflow: scroll;
}

.glyphicon-white {
  color: white;
}

.glyphicon-blue {
  color: blue;
}

.nl-list {
  padding-left: 0px;
  margin-left: 0px;
}

.list-group-item.borderless {
  border: none;
}

.no-left-margin {
  margin-left: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-margin {
  margin-right: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.border-right {
  /*display: table-cell;*/
  /*margin-top: 0px;*/
  /*padding-top: 0px;*/
  /*position: absolute ;*/
  height:100% !important;
  border-right:1px solid gray;
}

.left-pane {
  padding-left: 15px;
}

.full-height {
  /*display: table;*/
  height: 100% !important;
}
@media (max-width: 992px) and (orientation:landscape) {
  .hide-in-landscape {
    display: none !important;
  }
}

@media (max-width: 992px) and (orientation:portrait) {
  .col-xs-4 {
    display: none !important;
  }
  .col-xs-8 {
    width: 100%;
  }


}