<div class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand pull-right" href="widget-list.view.client.html">
    <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
  </a>

  <a class="navbar-brand pull-left" href="widget-list.view.client.html">
    <span class="glyphicon glyphicon-chevron-left glyphicon-white" aria-hidden="true"></span>
  </a>

  <div class="navbar-header">
    <a class="navbar-brand" href="../../page/templates/page-list.view.client.html">Widget Edit</a>
  </div>
</div>
<div class="container-fluid under-navbar">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" placeholder="Name">
  </div>
  <div class="form-group">
    <label>Text</label>
    <input class="form-control" type="text" placeholder="Text">
  </div>
  <div class="form-group">
    <label>URL</label>
    <input class="form-control" type="url" value="http://solarviews.com/raw/earth/bluemarblewest.jpg" placeholder="URL">
  </div>
  <div class="form-group">
    <label>Width</label>
    <input class="form-control" type="text" value="100%" placeholder="Width">
  </div>
  <div>
    <label>Upload</label>
    <input class="form-control" type="file">
  </div>

  <div class="form-group">
    <div class="btn btn-primary btn-block">
      Upload Image
    </div>
    <a class="btn btn-danger btn-block" href="widget-list.view.client.html">
      Cancel
    </a>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-brand pull-right">
    <span class="glyphicon glyphicon-user glyphicon-white" aria-hidden="true"></span>
  </div>
</nav>