<div class="container-fluid under-navbar">
  <div class="form-group">
    <label>Name</label>
    <input ng-model="model.widget.name" class="form-control" type="text" placeholder="Name">
  </div>
  <div class="form-group">
    <label>Text</label>
    <input ng-model="model.widget.text" class="form-control" type="text" placeholder="Text">
  </div>
  <div class="form-group">
    <label>URL</label>
    <input ng-model="model.widget.url" class="form-control" type="url" value="https://www.youtube.com/watch?v=Z5Zoj6bmf7A" placeholder="URL">
  </div>
  <div class="form-group">
    <label>Width</label>
    <input ng-model="model.widget.width" class="form-control" type="text" value="100%" placeholder="Width">
  </div>
  <div class="form-group">
    <a class="btn btn-danger btn-block" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
      Cancel
    </a>
  </div>
</div>