<div class="navbar navbar-default navbar-fixed-top">

  <a class="navbar-brand pull-left" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
    <span class="glyphicon glyphicon-chevron-left glyphicon-white" aria-hidden="true"></span>
  </a>

  <div class="navbar-header">
    <a class="navbar-brand" href="widget-list.view.client.html">Choose Widget</a>
  </div>
</div>

<div class="container-fluid under-navbar" >
  <ul class="no-left-margin no-left-padding">
    <li class="list-group-item borderless">
      <a href ng-click="model.createWidget('HEADER')">Header</a>
    </li>
    <li class="list-group-item borderless">
      <a href="#">Label</a>
    </li>
    <li class="list-group-item borderless">
      <a href ng-click="model.createWidget('HTML')">HTML</a>
    </li>
    <li class="list-group-item borderless">
      <a>Text Input</a>
    </li>
    <li class="list-group-item borderless">
      <a>Link</a>
    </li>
    <li class="list-group-item borderless">
      <a>Button</a>
    </li>
    <li class="list-group-item borderless">
      <a href ng-click="model.createWidget('IMAGE')">Image</a>
    </li>
    <li class="list-group-item borderless">
      <a href ng-click="model.createWidget('YOUTUBE')">Youtube</a>
    </li>
    <li class="list-group-item borderless">
      <a>Data Table</a>
    </li>
    <li class="list-group-item borderless">
      <a>Repeater</a>
    </li>

  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <a class="navbar-brand pull-right" href="#/user/{{model.uid}}">
    <span class="glyphicon glyphicon-user glyphicon-nav-bar" aria-hidden="true"></span>
  </a>
</nav>