<div class="navbar navbar-default navbar-fixed-top">
  <div class="col-xs-4">
    <a class="navbar-brand pull-right no-right-margin no-right-padding" href="website-new.view.client.html">
      <span class="glyphicon glyphicon-plus glyphicon-white" aria-hidden="true"></span>
    </a>

    <div class="navbar-text pull-left no-left-padding">
      <a href="#/user/{{model.uid}}/website/">
        <span class="glyphicon glyphicon-chevron-left glyphicon-white hide-in-landscape"></span>
      </a>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="../../page/templates/page-list.view.client.html">Websites</a>
    </div>
  </div>

  <div class="col-xs-8">
    <a class="navbar-brand pull-right" href ng-click="model.createWebsite()">
      <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
    </a>

    <a class="navbar-text pull-left no-left-padding" href="#/user/{{model.uid}}/website/">
      <span class="glyphicon glyphicon-chevron-left glyphicon-white"></span>
    </a>

    <div class="navbar-header">
      <a class="navbar-brand">New Websites</a>
    </div>
  </div>

</div>

<div class="container-fluid under-navbar">
  <div class="row full-height">
    <div class="col-xs-4">
      <ul class="no-left-margin no-left-padding ">
        <li ng-repeat="website in model.websites" class="list-group-item borderless">
          <a class="pull-right" ng-href="#/user/{{model.uid}}/website/{{website._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <a>{{website.name}}</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-8">
      <div class="form-group">
        <label>Name</label>
        <input ng-model="model.website.name" class="form-control" type="text" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="model.website.description" rows="3" class="form-control" type="text" placeholder="Description"></textarea>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <a class="navbar-brand pull-right" href="../../user/templates/profile.view.client.html">
    <span class="glyphicon glyphicon-user glyphicon-nav-bar" aria-hidden="true"></span>
  </a>
</nav>