<div class="navbar navbar-default navbar-fixed-top">
  <div class="col-xs-4">
    <a class="navbar-brand pull-right no-right-margin no-right-padding" href="page-new.view.client.html">
      <span class="glyphicon glyphicon-plus glyphicon-white" aria-hidden="true"></span>
    </a>

    <div class="navbar-text pull-left no-left-padding">
      <a href="../../user/templates/profile.view.client.html">
        <span class="glyphicon glyphicon-chevron-left glyphicon-white hide-in-landscape"></span>
      </a>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="page-list.view.client.html">Edit Page</a>
    </div>
  </div>

  <div class="col-xs-8">
    <a class="navbar-brand pull-right" href="page-list.view.client.html">
      <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
    </a>

    <a class="navbar-text pull-left no-left-padding" href="page-list.view.client.html">
      <span class="glyphicon glyphicon-chevron-left glyphicon-white"></span>
    </a>

    <div class="navbar-header">
      <a class="navbar-brand">Edit Page</a>
    </div>
  </div>

</div>

<div class="container-fluid under-navbar">
  <div class="row full-height">
    <div class="col-xs-4 hidden-xs">
      <ul class="no-left-margin no-left-padding">
        <li class="list-group-item borderless">
          <a class="pull-right" href="page-edit.view.client.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <a>Blog Post</a>
        </li>
        <li class="list-group-item borderless">
          <div class="pull-right">
            <a><span class="glyphicon glyphicon-cog"></span></a>
          </div>
          <a>Blogs</a></li>
        <li class="list-group-item borderless">
          <div class="pull-right">
            <a><span class="glyphicon glyphicon-cog"></span></a>
          </div>
          <a>Home</a></li>
        <li class="list-group-item borderless">
          <div class="pull-right">
            <a><span class="glyphicon glyphicon-cog"></span></a>
          </div>
          <a>About</a></li>
        <li class="list-group-item borderless">
          <div class="pull-right">
            <a><span class="glyphicon glyphicon-cog"></span></a>
          </div>
          <a>Contact us</a></li>
      </ul>
    </div>

    <div class="col-xs-8" >

      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" value="Blog Post" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" placeholder="Page title">
      </div>

      <div class="form-group">
        <a class="btn btn-danger btn-block" href="page-list.view.client.html">
          Delete
        </a>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <a class="navbar-brand pull-right" href="../../user/templates/profile.view.client.html">
    <span class="glyphicon glyphicon-user glyphicon-nav-bar" aria-hidden="true"></span>
  </a>
</nav>

